/cmake-build-*/
/build/
/build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

.idea/

.vscode/

.vs/
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user

*.exe
*.out
*.dll

*.a
*.lib
*.so

*.o
*.obj

*.log
*.tmp

.DS_Store

Thumbs.db